# MongoDB Connection String
# MongoDB Atlas se milega (free)
MONGO_URI=mongodb+srv://sandip01998chakraborty_db_user198:9Eb6B4HEkp8kSqIb@cluster0.frzzai2.mongodb.net/profitpilot?retryWrites=true&w=majority&appName=Cluster0

# JWT Secret Key — koi bhi random string likho
JWT_SECRET=profit_pilot_secret_key_2024

# Port
PORT=5000
